.App-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 4.5rem;
  -webkit-box-shadow: 5px -20px 11px 23px rgba(0,0,0,0.21);
  -moz-box-shadow: 5px -20px 11px 23px rgba(0,0,0,0.21);
  box-shadow: 5px -20px 11px 23px rgba(0,0,0,0.21);
}

.App-link {
  color: #61dafb;
}


.App-header > ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style: none;
}

.App-header > ul > li {
  margin-right: 2rem;
}

.App-header > ul > li > a {
  text-decoration: none;
}

.App-header > ul > li > a:visited {
  color: black;
}
