.App-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  border-bottom: 1px solid rgba(0,0,0,0.5);
  -webkit-box-shadow: 3px 18px 11px -17px rgba(0,0,0,0.3);
  -moz-box-shadow: 3px 18px 11px -17px rgba(0,0,0,0.3);
  box-shadow: 3px 18px 11px -17px rgba(0,0,0,0.3);
}

.App-link {
  color: #61dafb;
}


.App-header > ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style: none;
}

.App-header > ul > li {
  margin-right: 2rem;
}

.App-header > ul > li > a {
  text-decoration: none;
}

.App-header > ul > li > a:visited {
  color: black;
}
