.App-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 1rem;
  align-items: center;
  height: 4.5rem;
  -webkit-box-shadow: 5px -20px 11px 23px rgba(0,0,0,0.21);
  -moz-box-shadow: 5px -20px 11px 23px rgba(0,0,0,0.21);
  box-shadow: 5px -20px 11px 23px rgba(0,0,0,0.21);
}

.App-header > ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style: none;
}

.App-header > ul > li {
  margin-right: 2rem;
}

.App-header > ul > li > a {
  text-decoration: none;
  color: var(--md-light-blue-600);
}

.App-header > ul > li > a:visited {
  color: var(--md-light-blue-600);
}

.App-header > ul > li > a:hover {
  color: var(--md-light-blue-900);
}
