.App-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 1rem;
  align-items: center;
  height: 4.5rem;
  background-color: white;
}

.App-header > ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
}

.App-header > ul > li {
  margin-right: 2rem;
}

.App-header > ul > li > a {
  text-decoration: none;
  font-weight: 800;
  color: var(--md-bauhaus--black);
}

.App-header > ul > li > a:visited {
  color: var(--md-bauhaus--black);
}

.App-header > ul > li > a:hover {
  color: var(--md-bauhaus--mint-green);
}
